<div class="main-content scroll">
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Customer Details</h6>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-outline-info btn-magnify btn-round btn-sm pull-right" (click)="Excel()">
                <i class="fa fa-file-excel"></i>
                Excel
            </button>
            <button class="btn btn-outline-success btn-magnify btn-round pull-right btn-sm"
                routerLink="/customer/create-customer-master">
                <i class="fa fa-plus"></i>
                Add New
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable *ngIf="Visible">
                    <thead class="text-info">
                        <tr>
                            <th>S.No</th>
                            <th>Customer No</th>
                            <th>Customer Name</th>
                            <th>Mobile No</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of CustomerList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{c.customerNo}}</td>
                            <td>{{c.customerName}}</td>
                            <td>{{c.mobileNo}}</td>
                            <td>{{c.address}}</td>
                            <td>
                                <i class="fa fa-edit text-info icon btn-magnify"
                                    (click)="EditDelete('Edit',c.customerId)"></i>
                                &nbsp;&nbsp;
                                <i class="fa fa-trash text-danger icon btn-magnify" data-toggle="modal"
                                    data-target="#InActiveUnitModal" (click)="EditDelete('Delete',c.customerId)"></i>
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div #exportExcel>
                <table class="table table-bordered table-striped" hidden>
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Customer No</th>
                            <th>Customer Name</th>
                            <th>Mobile No</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of CustomerList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{c.customerNo}}</td>
                            <td>{{c.customerName}}</td>
                            <td>{{c.mobileNo}}</td>
                            <td>{{c.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


<div class="modal" id="InActiveUnitModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeInActiveUnitModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="modal-title" id="exampleModalLabel" class="text-info">Delete Customer</h6>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <label class="text-info">Remarks<span class="text-danger">*</span></label>
                        <div class="form-group">
                            <textarea class="form-control" [(ngModel)]="Remarks" pattern=".*[^ ].*"></textarea>
                            <small *ngIf="SubmittedRemarks && (Remarks).trim() ==''" class="text-danger">Remarks is
                                Required</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-round btn-outline-danger btn-sm btn-magnify" (click)="Delete()">
                    <span class="btn-h6">
                        Delete
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>