<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container">
        <div class="navbar-wrapper">
            <a class="navbar-brand" style="text-align: center; background: -webkit-linear-gradient( rgb(234, 239, 241), rgb(163, 158, 211));
             font-size: 30px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;">
                <b style="color:#babfc1;font-size: larger;font-family :  'Times New Roman', 
                Times, serif">
                    EXPRESS SHINE AUTOHUB
                </b>
            </a>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page ">
    <div class="full-page section-image" filter-color="black" data-image="./assets/img/MAJESTIC_AUTO_SPA.jpeg">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4 ">
                        <form class="form" [formGroup]="LoginForms">
                            <div class="card card-login"
                                style="background-image: linear-gradient(to bottom right, rgb(37, 170, 228), rgb(57, 49, 134));">
                                <div class="card-header ">
                                    <div class="card-header ">
                                        <h3 class="header text-center">
                                            <b style="color: white;font-size: 40px;
                                            font-family: 'Times New Roman', Times, serif;font-weight: 900;">
                                                <u>Login </u> </b>
                                        </h3>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                        <!-- <div class="input-group-prepend">
                                            <span class="input-group-text" style="background-color: #2991D1;color: white;">
                                                <i class="nc-icon nc-single-02"></i>&nbsp;&nbsp;
                                            </span>
                                        </div> -->
                                        <!-- <h3>Admin</h3> -->
                                        <!-- <select class="form-select" (focus)="focus=true" (blur)="focus=false" formControlName="select" style="width: 90%" > -->
                                        <!-- <select class="form-control" style="width: 80%" (focus)="focus=true"
                                            (blur)="focus=false" formControlName="UserType">

                                            <option value="Admin">Admin</option>
                                            <option value="User">User</option>
                                            <option value="Employee">Employee</option>
                                        </select><br><br> -->
                                    </div>

                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="background-color: #2991D1;color: white;">
                                                <i class="nc-icon nc-single-02"></i>&nbsp;&nbsp;
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="User Name"
                                            (focus)="focus=true" (blur)="focus=false" formControlName="UserName">
                                    </div>
                                    <small *ngIf="submitted && LoginForms.controls['UserName'].invalid"
                                        class="text-danger">
                                        UserName is required.
                                    </small>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="background-color: #2991D1;color: white;">
                                                <i class="nc-icon nc-key-25"></i>&nbsp;&nbsp;
                                            </span>
                                        </div>
                                        <input type="{{ showPassword ? 'password' : 'text' }}" placeholder="Password"
                                            class="form-control" formControlName="Password">
                                        <div class="input-group-prepend" >
                                            <button class="btn" type="button"
                                                style="background-color: #2991D1;margin-top: 0; margin-bottom:0;"
                                                (click)="showPassword=!showPassword" >
                                                <i class="fa fa-eye-slash" *ngIf="showPassword"
                                                    name="eye-off-outline"></i>
                                                <i class="fa fa-eye" *ngIf="!showPassword" name="eye-outline"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <small *ngIf="submitted && LoginForms.controls['Password'].invalid"
                                        class="text-danger">
                                        Password is required.
                                    </small>
                                </div>
                                <div class="card-footer ">
                                    <button class="btn btn-info btn-round btn-block mb-3" id="login"
                                        (click)="Login()">Get
                                        Started</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>