<div class="main-content scroll">
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Make Master</h6>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-outline-success btn-magnify btn-round pull-right btn-sm" data-toggle="modal"
                data-target="#AddMakeModal" (click)="AddNew('',0)" *ngIf="menuList.includes('29')">
                <i class="fa fa-plus"></i>
                Add New
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable *ngIf="Visible">
                    <thead class="text-info">
                        <tr>
                            <th>S.No</th>
                            <th>Make</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of MakeList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{u.make}}</td>
                            <td>
                                <i class="fa fa-edit text-info icon btn-magnify" data-toggle="modal"
                                    *ngIf="menuList.includes('30')" data-target="#AddMakeModal"
                                    (click)="AddNew('Edit',u.makeId)"></i> &nbsp;&nbsp;
                                <i class="fa fa-trash text-danger icon btn-magnify" data-toggle="modal"
                                    *ngIf="menuList.includes('31')" data-target="#InActiveMakeModal"
                                    (click)="AddNew('Delete',u.makeId)"></i>
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>


<div class="col-md-3">
    <div class="modal" id="AddMakeModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" id="closeAddMakeModal" data-dismiss="modal" aria-label="Close">
                        <span area-hidden="true">&times;</span>
                    </button>
                    <h6 class="model-tittle text-info">Add Make</h6>
                </div>
                <div class="modal-body">
                    <form [formGroup]="MakeForm">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-info"> Make<span class="text-danger"> *</span></h6>
                                <input type="text" id="add" (input)="OnChangeMake()" class="form-control"
                                    formControlName="MakeName" placeholder="Enter Make" pattern=".*[^ ].*">
                                <small *ngIf="Submitted && MakeForm.controls['MakeName'].invalid"
                                    class="text-danger">Make Required</small>
                                <small *ngIf="MakeNameExists" class="text-danger">Make Already Exists</small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-round btn-outline-info btn-sm btn-magnify" (click)="Save()">
                        <span class="btn-h6">
                            <i class="nc-icon nc-check-2"></i>
                            {{MakeId==0 ? 'Save':'Update'}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="InActiveMakeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeInActiveMakeModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="modal-title" id="exampleModalLabel" class="text-info">Delete Make</h6>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <label class="text-info">Remarks<span class="text-danger"> *</span></label>
                        <div class="form-group">
                            <textarea id="delete" class="form-control" [(ngModel)]="Remarks"
                                pattern=".*[^ ].*"></textarea>
                            <small *ngIf="Submitted && (Remarks=='' || Remarks.trim()=='')" class="text-danger">Remarks
                                is Required</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-round btn-outline-danger btn-sm btn-magnify" (click)="Delete()">
                    <span class="btn-h6">
                        Delete
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>