<div class="main-content scroll">
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">PRODUCT SALES</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <label>From Date <span class="text-danger"> *</span></label>
                    <input type="date" class="form-control" [(ngModel)]="FromDate">
                    <small class="text-danger" *ngIf="Submitted && (FromDate == undefined || FromDate == '')">From Date
                        is
                        required</small>
                </div>

                <div class="col-md-3">
                    <label>To Date <span class="text-danger"> *</span></label>
                    <input type="date" class="form-control" [(ngModel)]="ToDate">
                    <small class="text-danger" *ngIf="Submitted && (ToDate == undefined || ToDate == '')">To Date is
                        required</small>
                </div>
                <div class="col-md-6" style="padding-top: 18px;">
                    <button class="btn btn-outline-success btn-magnify btn-round btn-sm" (click)="GetProductSales()">
                        <i class="fa fa-search"></i>
                        Search
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-outline-info btn-magnify btn-round btn-sm" (click)="Excel()">
                        <i class="fa fa-file-excel"></i>
                        Excel
                    </button>
                </div>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable *ngIf="Visible">
                    <thead class="text-info">
                        <tr>
                            <th>S.No</th>
                            <th>Date</th>
                            <th>Service No</th>
                            <th>Customer</th>
                            <th>Customer Mobile No</th>
                            <th>Vehicle Reg No</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Product Type</th>
                            <th>Sales Done By</th>
                            <th>Price</th>
                            <th>GST</th>
                            <th>Final Invoice Amount</th>
                            <th>Delivery date & Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of ProductSalesList;let i=index;">
                            <td>{{i+1}}</td>
                            <td style="min-width:70px">{{s.date | date: 'dd-MM-yyyy'}}</td>
                            <td style="min-width:90px">{{s.serviceProductNo}}</td>
                            <td>{{s.customerName}}</td>
                            <td>{{s.mobileNo}}</td>
                            <td>{{s.vehicleRegNo}}</td>
                            <td>{{s.make}}</td>
                            <td>{{s.model}}</td>
                            <td>{{s.typeName}}</td>
                            <td>{{s.salesDoneBy}}</td>
                            <td>{{s.price}}</td>
                            <td>{{s.gstName}}</td>
                            <td>{{s.finalInvAmt}}</td>
                            <td>{{s.deliveryDateTime | date: 'dd-MM-yyyy hh:mm a'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div #exportExcel>
    <table hidden>
        <thead class="text-info">
            <tr>
                <th>S.No</th>
                <th>Date</th>
                <th>Service No</th>
                <th>Customer</th>
                <th>Customer Mobile No</th>
                <th>Vehicle Reg No</th>
                <th>Make</th>
                <th>Model</th>
                <th>Product Type</th>
                <th>Sales Done By</th>
                <th>Price</th>
                <th>GST</th>
                <th>Final Invoice Amount</th>
                <th>Delivery date & Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of ProductSalesList;let i=index;">
                <td>{{i+1}}</td>
                <td>{{s.date | date: 'dd-MM-yyyy'}}</td>
                <td>{{s.serviceProductNo}}</td>
                <td>{{s.customerName}}</td>
                <td>{{s.mobileNo}}</td>
                <td>{{s.vehicleRegNo}}</td>
                <td>{{s.make}}</td>
                <td>{{s.model}}</td>
                <td>{{s.typeName}}</td>
                <td>{{s.salesDoneBy}}</td>
                <td>{{s.price}}</td>
                <td>{{s.gstName}}</td>
                <td>{{s.finalInvAmt}}</td>
                <td>{{s.deliveryDateTime | date: 'dd-MM-yyyy hh:mm a'}}</td>
            </tr>
        </tbody>
    </table>
</div>