<div class="main-content scroll">
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Product Master</h6>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-outline-success btn-magnify btn-round pull-right btn-sm"
                *ngIf="menuList.includes('9')" routerLink="/master/create-product-master">
                <i class="fa fa-plus"></i>
                Add New
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable *ngIf="Visible">
                    <thead class="text-info">
                        <tr>
                            <th>S.No</th>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Units</th>
                            <th>Price</th>
                            <th>GST %</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of ProductList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{u.productCode}}</td>
                            <td>{{u.productName}}</td>
                            <td>{{u.description}}</td>
                            <td>{{u.unitName}}</td>
                            <td>{{u.price}}</td>
                            <td>{{u.gstName}}</td>
                            <td>
                                <i class="fa fa-edit text-info icon btn-magnify" *ngIf="menuList.includes('10')"
                                    routerLink="/master/create-product-master"
                                    [queryParams]="{ProductId:u.productId}"></i> &nbsp;&nbsp;
                                <i class="fa fa-trash text-danger icon btn-magnify" *ngIf="menuList.includes('11')"
                                    (click)="Delete(u.productId,'Assign')"></i> &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>



<div class="modal" id="InActiveProductModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeInActiveProductModal" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="modal-title" id="exampleModalLabel" class="text-info">Delete Product</h6>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <label class="text-info">Remarks<span class="text-danger"> *</span></label>
                        <div class="form-group">
                            <textarea id="delete" class="form-control" [(ngModel)]="Remarks"></textarea>
                            <small *ngIf="Submitted && (Remarks=='' || Remarks.trim()=='')" class="text-danger">Remarks
                                is Required</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-round btn-outline-danger btn-sm btn-magnify" (click)="Delete(0,'Delete')">
                    <span class="btn-h6">
                        Delete
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>