<div class="main-content scroll">
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Unit Master</h6>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-outline-success btn-magnify btn-round pull-right btn-sm" data-toggle="modal"
                data-target="#AddUnitModal" (click)="AddNew('',0)" *ngIf="menuList.includes('1')">
                <i class="fa fa-plus"></i> 
                Add New
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable *ngIf="Visible">
                    <thead class="text-info">
                        <tr>
                            <th>S.No</th>
                            <th>Unit Code</th>
                            <th>Unit Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of UnitList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{u.unitCode}}</td>
                            <td>{{u.unitName}}</td>
                            <td>
                                <i class="fa fa-edit text-info icon btn-magnify" data-toggle="modal"
                                    data-target="#AddUnitModal" *ngIf="menuList.includes('2')"
                                    (click)="AddNew('Edit',u.unitId)"></i> &nbsp;&nbsp;
                                <i class="fa fa-trash text-danger icon btn-magnify" data-toggle="modal"
                                    data-target="#InActiveUnitModal" *ngIf="menuList.includes('3')"
                                    (click)="AddNew('Delete',u.unitId)"></i>
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>


<div class="col-md-3">
    <div class="modal" id="AddUnitModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" id="closeAddUnitModal" data-dismiss="modal" aria-label="Close">
                        <span area-hidden="true">&times;</span>
                    </button>
                    <h6 class="model-tittle text-info">Add Unit</h6>
                </div>
                <div class="modal-body">
                    <form [formGroup]="UnitForm">
                        <div class="row">
                            <h6 class="text-info"> Unit Code <span class="text-danger"> *</span></h6>
                            <input type="text" id="add" class="form-control" formControlName="unitCode"
                                placeholder="Enter Unit Code" pattern=".*[^ ].*" (input)="OnChangeUnit('UnitCode')">
                            <small *ngIf="Submitted && UnitForm.controls['unitCode'].invalid" class="text-danger">Unit
                                Code Required</small>
                            <small *ngIf="UnitCodeExists" class="text-danger">Unit Code Already Exists</small>
                        </div><br>
                        <div class="row">
                            <h6 class="text-info"> Unit Name <span class="text-danger"> *</span></h6>
                            <input type="text" class="form-control" formControlName="unitName"
                                placeholder="Enter Unit Name" pattern=".*[^ ].*" (input)="OnChangeUnit('UnitName')">
                            <small *ngIf="Submitted && UnitForm.controls['unitName'].invalid" class="text-danger">Unit
                                Name Required</small>
                            <small *ngIf="UnitNameExists" class="text-danger">Unit Name Already Exists</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-round btn-outline-info btn-sm btn-magnify" (click)="Save()">
                        <span class="btn-h6">
                            <i class="nc-icon nc-check-2"></i>
                            {{UnitId==0 ? 'Save':'Update'}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="InActiveUnitModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeInActiveUnitModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="modal-title" id="exampleModalLabel" class="text-info">Delete Unit</h6>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <label class="text-info">Remarks<span class="text-danger"> *</span></label>
                        <div class="form-group">
                            <textarea id="delete" class="form-control" [(ngModel)]="Remarks"
                                pattern=".*[^ ].*"></textarea>
                            <small *ngIf="Submitted && (Remarks=='' || Remarks.trim()=='')" class="text-danger">Remarks
                                is
                                Required</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-round btn-outline-danger btn-sm btn-magnify" (click)="Delete()">
                    <span class="btn-h6">
                        Delete
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>