<div class="main-content scroll">
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Service Master</h6>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-outline-success btn-magnify btn-round pull-right btn-sm" data-toggle="modal"
                data-target="#AddServiceModal" *ngIf="menuList.includes('17')" (click)="AddNew('',0)">
                <i class="fa fa-plus"></i>
                Add New
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable *ngIf="Visible">
                    <thead class="text-info">
                        <tr>
                            <th>S.No</th>
                            <th>Category</th>
                            <th>Service Type</th>
                            <th>Price</th>
                            <th>GST</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of ServiceList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{u.category}}</td>
                            <td>{{u.serviceType}}</td>
                            <td>{{u.price}}</td>
                            <td>{{u.gstName}}</td>
                            <td>
                                <i class="fa fa-edit text-info icon btn-magnify" data-toggle="modal"
                                    data-target="#AddServiceModal" *ngIf="menuList.includes('18')"
                                    (click)="AddNew('Edit',u.serviceId)"></i>
                                &nbsp;&nbsp;
                                <i class="fa fa-trash text-danger icon btn-magnify" data-toggle="modal"
                                    data-target="#InActiveServiceModal" *ngIf="menuList.includes('19')"
                                    (click)="AddNew('Delete',u.serviceId)"></i>
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>


<div class="col-md-3">
    <div class="modal" id="AddServiceModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" id="closeAddServiceModal" data-dismiss="modal" aria-label="Close">
                        <span area-hidden="true">&times;</span>
                    </button>
                    <h6 class="model-tittle text-info">Add Service</h6>
                </div>
                <div class="modal-body">
                    <form [formGroup]="ServiceForm">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-info"> Select Category <span class="text-danger"> *</span></h6>
                                <!-- <input type="text" id="add" class="form-control" formControlName="serviceType"
                                    placeholder="Enter Service Type" (input)="OnChangeServiceType()"> -->
                                <select class="form-control" formControlName="category">
                                    <option value="" hidden selected>--Select--</option>
                                    <option value="CarWash">Car Wash</option>
                                    <option value="BikeWash">Bike Wash</option>
                                    <option value="Others">Others</option>
                                </select>
                                <small *ngIf="Submitted && ServiceForm.controls['category'].invalid"
                                    class="text-danger">Category Requireed</small>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-info"> Service Type <span class="text-danger"> *</span></h6>
                                <input type="text" id="add" class="form-control" formControlName="serviceType"
                                    placeholder="Enter Service Type" (input)="OnChangeServiceType()">
                                <small *ngIf="Submitted && ServiceForm.controls['serviceType'].invalid"
                                    class="text-danger">Service Type Requireed</small>
                                <small *ngIf="ServiceTypeExists" class="text-danger">Service Type Already Exists</small>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-info">Price <span class="text-danger"> *</span></h6>
                                <input type="number" class="form-control" formControlName="price"
                                    placeholder="Enter Price">
                                <small *ngIf="Submitted && ServiceForm.controls['price'].invalid"
                                    class="text-danger">Price Requireed</small>

                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-info"> GST <span class="text-danger"> *</span></h6>
                                <ng-select [items]="GSTList" formControlName="gst" placeholder="--Select GST--"
                                    bindLabel="gstName">
                                </ng-select>
                                <small *ngIf="Submitted && ServiceForm.controls['gst'].invalid" class="text-danger">GST
                                    Requireed</small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-round btn-outline-info btn-sm btn-magnify" (click)="Save()">
                        <span class="btn-h6">
                            <i class="nc-icon nc-check-2"></i>
                            {{ServiceId == 0 ? 'Save':'Update'}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="InActiveServiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeInActiveServiceModal" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="modal-title" id="exampleModalLabel" class="text-info">Delete Service</h6>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <label class="text-info">Remarks<span class="text-danger"> *</span></label>
                        <div class="form-group">
                            <textarea class="form-control" id="delete" [(ngModel)]="Remarks"
                                pattern=".*[^ ].*"></textarea>
                            <small *ngIf="Submitted && (Remarks=='' || Remarks.trim()=='')" class="text-danger">Remarks
                                is Required</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-round btn-outline-danger btn-sm btn-magnify" (click)="Delete()">
                    <span class="btn-h6">
                        Delete
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>