<div class="main-content scroll">
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Service / Product Details</h6>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-outline-success btn-magnify btn-round pull-right btn-sm"
                *ngIf="menuList.includes('45')" routerLink="/service/create-service">
                <i class="fa fa-plus"></i>
                Add New
            </button>

            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable *ngIf="Visible">
                    <thead class="text-info">
                        <tr>
                            <th>S.No</th>
                            <th>Date</th>
                            <th>Service No</th>
                            <th>Customer</th>
                            <th>Customer Mobile No</th>
                            <th>Vehicle Reg No</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Service Done By</th>
                            <th>Sales Done By</th>
                            <th>Delivery date & Time</th>
                            <th>Final Invoice Amt</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of ServiceProductList;let i=index;">
                            <td>{{i+1}}</td>
                            <td style="min-width:75px">{{u.date | date:'dd-MM-yyyy'}}</td>
                            <td style="min-width:90px">{{u.serviceProductNo}}</td>
                            <td>{{u.customerName}}</td>
                            <td>{{u.mobileNo}}</td>
                            <td>{{u.vehicleRegNo}}</td>
                            <td>{{u.make}}</td>
                            <td>{{u.model}}</td>
                            <td>{{u.serviceDoneBy}}</td>
                            <td>{{u.salesDoneBy}}</td>
                            <td>{{u.deliveryDateTime |date:'dd-MM-yyyy hh:mm a'}}</td>
                            <td>{{u.finalInvAmt}}</td>
                            <td>
                                <i class="fa fa-edit text-info icon btn-magnify" title="Edit" *ngIf="menuList.includes('46')"
                                    routerLink="/service/create-service"
                                    [queryParams]="{ServiceProductId:u.serviceProductId}"></i> &nbsp;&nbsp;
                                <i class="fa fa-trash text-danger icon btn-magnify" title="Delete" *ngIf="menuList.includes('47')"
                                    (click)="Delete(u.serviceProductId,'Assign')"></i> &nbsp;&nbsp;
                                <i class="fa fa-print icon btn-magnify" title="Print" *ngIf="menuList.includes('46')"
                                    (click)="Print(u.serviceProductId)"></i> &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="InActiveServiceProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeInActiveServiceProductModal" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="modal-title" id="exampleModalLabel" class="text-info">Delete Service / Product</h6>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <label class="text-info">Remarks<span class="text-danger"> *</span></label>
                        <div class="form-group">
                            <textarea class="form-control" [(ngModel)]="Remarks"></textarea>
                            <small *ngIf="Submitted && (Remarks=='' || Remarks.trim()=='') " class="text-danger">Remarks
                                is
                                Required</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-round btn-outline-danger btn-sm btn-magnify" (click)="Delete(0,'Delete')">
                    <span class="btn-h6">
                        Delete
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>