table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: 600;
    font-size: 11px;
}

table.dataTable tbody td,
table.dataTable tfoot td {
    font-size: 11px;
}

.scroll {
    height: 300px;
    /* Adjust the height as needed */
    overflow-y: scroll;
}