<div class="main-content scroll">
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Company Master</h6>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-outline-success btn-magnify btn-round pull-right btn-sm"
                routerLink="/master/create-company-master" *ngIf="menuList.includes('21')">
                <i class="fa fa-plus"></i>
                Add New
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable *ngIf="Visible">
                    <thead class="text-info">
                        <tr>
                            <th>S.No</th>
                            <th>Company Name</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Phone Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of CompanyList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{u.companyName}}</td>
                            <td>{{u.state}}</td>
                            <td>{{u.city}}</td>
                            <td>{{u.mobileNo}}</td>
                            <td><i class="fa fa-edit text-info icon btn-magnify"
                                    routerLink="/master/create-company-master" *ngIf="menuList.includes('22')"
                                    [queryParams]="{CompanyId:u.companyId}"></i> &nbsp;&nbsp;
                                <i class="fa fa-trash text-danger icon btn-magnify" data-toggle="modal"
                                    data-target="#InActiveUnitModal" (click)="EditDelete(u.companyId)"
                                    *ngIf="menuList.includes('23')"></i>
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>


<div class="modal" id="InActiveUnitModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeInActiveUnitModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="modal-title" id="exampleModalLabel" class="text-info">Delete Company</h6>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <label class="text-info">Remarks<span class="text-danger"> *</span></label>
                        <div class="form-group">
                            <textarea id="delete" class="form-control" [(ngModel)]="Remarks"
                                pattern=".*[^ ].*"></textarea>
                            <small *ngIf="Submitted && (Remarks=='' || (Remarks).trim() =='')"
                                class="text-danger">Remarks is
                                Required</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-round btn-outline-danger btn-sm btn-magnify" (click)="Delete()">
                    <span class="btn-h6">
                        Delete
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>