<div class="main-content scroll">
    <button class="btn btn-outline-danger btn-round btn-sm btn-magnify" routerLink="/master/view-product-master">
        <span class="btn-label">
            <i class="fa fas fa-chevron-left"></i>
        </span> &nbsp; Back
    </button>
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Create New Product</h6>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="ProductForm">
                <div class="row">
                    <div class="col-md-3">
                        <label class="text-info"> Product Code <span class="text-danger"> *</span></label>
                        <input type="text" id="add" class="form-control" placeholder="Enter Product Code"
                            (input)="OnChangeProduct('ProductCode')" formControlName="ProductCode" pattern=".*[^ ].*">
                        <small *ngIf="Submitted && ProductForm.controls['ProductCode'].invalid"
                            class="text-danger">Product Code Required</small>
                        <small *ngIf="ProductCodeExists" class="text-danger">Product Code Already Exists</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> Product Name <span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" placeholder="Enter Product Name"
                            (input)="OnChangeProduct('ProductName')" formControlName="ProductName" pattern=".*[^ ].*">
                        <small *ngIf="Submitted && ProductForm.controls['ProductName'].invalid"
                            class="text-danger">Product Name Required</small>
                        <small *ngIf="ProductNameExists" class="text-danger">Product Name Already Exists</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info">Select Unit<span class="text-danger"> *</span></label>
                        <ng-select [items]="UnitList" placeholder="--Select Unit--" bindLabel="unitName"
                            formControlName="unit"></ng-select>
                        <small *ngIf="Submitted && ProductForm.controls['unit'].invalid" class="text-danger">Unit
                            Required</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> Description<span class="text-danger"> *</span></label>
                        <textarea type="text" class="form-control" placeholder="Enter Description..."
                            formControlName="description" pattern=".*[^ ].*"></textarea>
                        <small *ngIf="Submitted && ProductForm.controls['description'].invalid"
                            class="text-danger">Description Required</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> Price<span class="text-danger"> *</span></label>
                        <input type="number" class="form-control" placeholder="Enter Price" formControlName="price"
                            pattern=".*[^ ].*">
                        <small *ngIf="Submitted && ProductForm.controls['price'].invalid" class="text-danger">Price
                            Required</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info">Select GST % </label>
                        <ng-select [items]="GSTList" placeholder="--Select GST %--" bindLabel="gstName"
                            formControlName="Gst"></ng-select>
                    </div>

                </div>

            </form>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-outline-danger btn-round btn-sm btn-magnify"
                routerLink="/master/view-product-master">
                <span class="btn-label">
                    <i class="fa fas fa-chevron-left"></i>
                </span> &nbsp; Back
            </button> &nbsp;&nbsp; &nbsp;
            <button class="btn btn-outline-info btn-round btn-sm btn-magnify" (click)="Save()">
                <span class="btn-label">
                    <i class="nc-icon nc-check-2"></i>
                </span> &nbsp;
                {{ProductId == 0 ? 'Save' : 'Update'}}
            </button>

        </div>
    </div>

</div>