input[type=Number]::-webkit-inner-spin-button,
input[type=Number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.scroll {
  height: 300px;
  /* Adjust the height as needed */
  overflow-y: scroll;
}