<div class="main-content scroll">
    <button class="btn btn-outline-danger btn-round btn-sm btn-magnify" (click)="Back()">
        <span class="btn-label">
            <i class="fa fas fa-chevron-left"></i>
        </span> &nbsp; Back
    </button>
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Create New Customer</h6>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="CustomerForm">
                <div class="row">
                    <div class="col-md-3">
                        <label class="text-info"> Customer No <span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" readonly placeholder="Enter Customer No"
                            formControlName="customerNo" pattern=".*[^ ].*">
                        <small class="text-danger"
                            *ngIf="Submitted &&  CustomerForm.controls['customerNo'].invalid">Customer No
                            Required</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> Customer Name <span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" placeholder="Enter Customer Name"
                            formControlName="customerName" pattern=".*[^ ].*">
                        <small class="text-danger"
                            *ngIf="Submitted && CustomerForm.controls['customerName'].invalid">Customer Name
                            Required</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> Mobile No<span class="text-danger"> *</span></label>
                        <input type="number" onKeyPress="if(this.value.length==10) return false;" class="form-control"
                            placeholder="Enter Mobile Number" formControlName="mobileNo" pattern="[0-9]{10}"
                            (input)="OnChangeMobilNo()">
                        <small class="text-danger"
                            *ngIf="Submitted && CustomerForm.controls['mobileNo'].invalid ">Mobile
                            No Required (10 Digit)</small>
                        <!-- <small class="text-danger" *ngIf="MobileNoExists">Mobile No Already Exist</small> -->
                    </div>
                    <div class="col-md-3">
                        <label class="text-info">Address<span class="text-danger"> *</span></label>
                        <textarea type="Password" class="form-control" placeholder="Enter Address"
                            formControlName="address" pattern=".*[^ ].*"></textarea>
                        <small class="text-danger" *ngIf="Submitted && CustomerForm.controls['address'].invalid">Address
                            Required</small>

                    </div>
                </div>
            </form><br>
            <label>Vechicle Details </label>
            &nbsp;<i class="fa fa-angle-down" *ngIf="Visible"></i>
            <i class="fa fa-angle-up" *ngIf="!Visible" (click)="OnchangeVechileDtls()"></i>
            <div>
                <table class="table table-striped table-sm" *ngIf="Visible">
                    <thead style="background-color: rgb(204, 224, 224);">
                        <tr>
                            <th>S.No</th>
                            <th>Make<span class="text-danger"> *</span> &nbsp;&nbsp; <i data-toggle="modal"
                                    data-target="#AddMakeModal" class="fa fas fa-plus-circle  text-info btn-magnify"
                                    style="font-size: 20px;" title="Create New Make"
                                    (click)="AddNewMakeOrModel('Make')"></i></th>

                            <th>Model<span class="text-danger"> *</span> &nbsp;&nbsp; <i data-toggle="modal"
                                    data-target="#AddModelModal" class="fa fas fa-plus-circle  text-info btn-magnify"
                                    style="font-size: 20px;" title="Create New Model"
                                    (click)="AddNewMakeOrModel('Model')"></i></th>
                            <th>Vehicle No<span class="text-danger"> *</span></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let col of CustomerSubList;let i = index;">
                            <td style="width:10px;">{{i+1}}</td>
                            <td style="width:200px;">
                                <ng-select placeholder="--Select Make--" [items]="MakeMaster"
                                    [(ngModel)]="CustomerSubList[i].make" bindLabel="make"
                                    (change)="OnChangeMake(CustomerSubList[i].make, i)"></ng-select>
                            </td>
                            <td style="width:200px;">
                                <ng-select placeholder="--Select Model--" [items]="ModelMaster"
                                    [(ngModel)]="CustomerSubList[i].model" bindLabel="model"
                                    (change)="OnChangeModel(CustomerSubList[i].model, i)"></ng-select>
                            </td>
                            <td style="width:200px;">
                                <input type="text" class="form-control" placeholder="Enter Vehicle No"
                                    (change)="OnChangeVehicleNo(CustomerSubList[i].vehicleNo,i)"
                                    [(ngModel)]="CustomerSubList[i].vehicleNo" pattern=".*[^ ].*">
                            </td>
                            <td style="width:10px;">
                                <button (click)="PushRowToFamilyTable(i) " style="border: none;"
                                    [hidden]="CustomerSubList[i+1]"
                                    *ngIf="CustomerSubList[i].make!=null && CustomerSubList[i].model!=null && (CustomerSubList[i].vehicleNo).trim()!=''">
                                    <i class="fa fa-plus text-info icon btn-magnify"></i></button> &nbsp;&nbsp;

                                <button (click)="DeleteFamilyTableRow(i)" style="border: none;"
                                    *ngIf="CustomerSubList.length!=1">
                                    <i class="fa fa-trash text-danger icon btn-magnify"></i></button> &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-outline-danger btn-round btn-sm btn-magnify" (click)="Back()">
                <span class="btn-label">
                    <i class="fa fas fa-chevron-left"></i>
                </span> &nbsp; Back
            </button> &nbsp;&nbsp; &nbsp;
            <button class="btn btn-outline-info btn-round btn-sm btn-magnify" (click)="Save()">
                <span class="btn-label">
                    <i class="nc-icon nc-check-2"></i>
                </span> &nbsp;
                {{CustomerId == 0 ? 'Save' : 'Update'}}
            </button>

        </div>
    </div>

</div>

<div class="col-md-3">
    <div class="modal" id="AddMakeModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" id="closeAddMakeModal" data-dismiss="modal" aria-label="Close">
                        <span area-hidden="true">&times;</span>
                    </button>
                    <h6 class="model-tittle text-info">Add Make</h6>
                </div>
                <div class="modal-body">
                    <form [formGroup]="MakeForm">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-info"> Make<span class="text-danger"> *</span></h6>
                                <input type="text" id="addmake" (input)="OnChangeMakeName()" class="form-control"
                                    formControlName="MakeName" placeholder="Enter Make" pattern=".*[^ ].*">
                                <small *ngIf="MakeSubmitted && MakeForm.controls['MakeName'].invalid"
                                    class="text-danger">Make Required</small>
                                <small *ngIf="MakeNameExists" class="text-danger">Make Already Exists</small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-round btn-outline-info btn-sm btn-magnify" (click)="SaveMake()">
                        <span class="btn-h6">
                            <i class="nc-icon nc-check-2"></i>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-3">
    <div class="modal" id="AddModelModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" id="closeAddModelModal" data-dismiss="modal" aria-label="Close">
                        <span area-hidden="true">&times;</span>
                    </button>
                    <h6 class="model-tittle text-info">Add Model</h6>
                </div>
                <div class="modal-body">
                    <form [formGroup]="ModelForm">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-info"> Select Make <span class="text-danger"> *</span></h6>
                                <ng-select [items]="MakeMaster" formControlName="make" placeholder="--Select Make--"
                                    bindLabel="make" (change)="OnChangeModelName()">
                                </ng-select>

                                <small *ngIf="Submitted && ModelForm.controls['make'].invalid" class="text-danger">Make
                                    Required</small>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-info"> Model <span class="text-danger"> *</span></h6>
                                <input type="text" class="form-control" formControlName="model"
                                    placeholder="Enter Model" pattern=".*[^ ].*" (input)="OnChangeModelName()">
                                <small *ngIf="Submitted && ModelForm.controls['model'].invalid"
                                    class="text-danger">Model Required</small>
                                <small *ngIf="ModelNameExists" class="text-danger">Model Already Exists</small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-round btn-outline-info btn-sm btn-magnify" (click)="SaveModel()">
                        <span class="btn-h6">
                            <i class="nc-icon nc-check-2"></i>
                            Save
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>