table thead th, table tfoot th {
    font-weight: 600;
    font-size: 13px;
}
table tbody td, table tfoot td{
    font-size: 13px;
}
input[type=Number]::-webkit-inner-spin-button,
input[type=Number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type=Number] {
  -moz-appearance: textfield;
}

.scroll {
  height: 300px;
  /* Adjust the height as needed */
  overflow-y: scroll;
}