<div class="main-content scroll">
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Model Master</h6>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-outline-success btn-magnify btn-round pull-right btn-sm" data-toggle="modal"
                data-target="#AddModelModal" (click)="AddNew('',0)" *ngIf="menuList.includes('33')">
                <i class="fa fa-plus"></i>
                Add New
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable *ngIf="Visible">
                    <thead class="text-info">
                        <tr>
                            <th>S.No</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of ModelList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{u.make}}</td>
                            <td>{{u.model}}</td>
                            <td>
                                <i class="fa fa-edit text-info icon btn-magnify" data-toggle="modal"
                                    data-target="#AddModelModal" *ngIf="menuList.includes('34')"
                                    (click)="AddNew('Edit',u.modelId)"></i> &nbsp;&nbsp;
                                <i class="fa fa-trash text-danger icon btn-magnify" data-toggle="modal"
                                    data-target="#InActiveModelModal" *ngIf="menuList.includes('35')"
                                    (click)="AddNew('Delete',u.modelId)"></i>
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>


<div class="col-md-3">
    <div class="modal" id="AddModelModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" id="closeAddModelModal" data-dismiss="modal" aria-label="Close">
                        <span area-hidden="true">&times;</span>
                    </button>
                    <h6 class="model-tittle text-info">Add Model</h6>
                </div>
                <div class="modal-body">
                    <form [formGroup]="ModelForm">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-info"> Select Make <span class="text-danger"> *</span></h6>
                                <ng-select id="add" [items]="MakeList" formControlName="make"
                                    placeholder="--Select Make--" bindLabel="make" (change)="OnChangeModel()">
                                </ng-select>

                                <small *ngIf="Submitted && ModelForm.controls['make'].invalid" class="text-danger">Make
                                    Required</small>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-12">
                                <h6 class="text-info"> Model <span class="text-danger"> *</span></h6>
                                <input type="text" class="form-control" formControlName="model"
                                    placeholder="Enter Model" pattern=".*[^ ].*" (input)="OnChangeModel()">
                                <small *ngIf="Submitted && ModelForm.controls['model'].invalid"
                                    class="text-danger">Model Required</small>
                                <small *ngIf="ModelExists" class="text-danger">Model Already Exists</small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-round btn-outline-info btn-sm btn-magnify" (click)="Save()">
                        <span class="btn-h6">
                            <i class="nc-icon nc-check-2"></i>
                            {{ModelId == 0 ? 'Save':'Update'}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="InActiveModelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeInActiveModelModal" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="modal-title" id="exampleModalLabel" class="text-info">Delete Model</h6>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <label class="text-info">Remarks<span class="text-danger"> *</span></label>
                        <div class="form-group">
                            <textarea class="form-control" id="delete" [(ngModel)]="Remarks"
                                pattern=".*[^ ].*"></textarea>
                            <small *ngIf="Submitted && (Remarks=='' || Remarks.trim()=='')" class="text-danger">Remarks
                                Required</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-round btn-outline-danger btn-sm btn-magnify" (click)="Delete()">
                    <span class="btn-h6">
                        Delete
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>