<nav #navbar class="navbar navbar-expand-lg navbar-absolute"
  [ngClass]="{ 'bg-white': open === true , 'navbar-transparent': open === false}">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-minimize">
        <button id="minimizeSidebar" class="btn btn-icon btn-round btn-info" (click)="minimizeSidebar()">
          <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
          <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
        </button>
      </div>
      <div class="navbar-toggle" (click)="sidebarToggle()">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="nav-link ">
        <i class="nav-icon fa fa-home text-info" style="font-size: 30px;"
          [routerLink]="['/master/view-company-master']"></i>
      </a>
      <a class="navbar-brand text-info" href="javascript:void(0)">{{getTitle()}}</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" (click)="open = !open">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <!-- 
    <div class="collapse navbar-collapse justify-content-center">

      &nbsp; <a class="nav-link" [routerLink]="['/loan/customer']" [routerLinkActive]=" 
      ['active']" style="color: white;background-color:#66615B;height: 35px;font-size: 14px">
        New Loan
      </a>
      &nbsp; <a class="nav-link" [routerLink]="['/loan/receipt']" [routerLinkActive]=" 
      ['active']" style="color: white;background-color:#66615B;height: 35px;font-size: 14px">
        Receipt
      </a>
      &nbsp; <a class="nav-link" [routerLink]="['/loan/penalty']" [routerLinkActive]=" 
      ['active']" style="color: white;background-color:#66615B;height: 35px;font-size: 14px">
        Loan Closure
      </a>
      &nbsp; <a class="nav-link" [routerLink]="['/approval/Approval']" [routerLinkActive]=" 
      ['active']" style="color: white;background-color:#66615B;height: 35px;font-size: 14px">
        Loan
        Approval</a>
      &nbsp; <a class="nav-link" [routerLink]="['/approval/paymentapproval']" [routerLinkActive]=" 
      ['active']" style="color: white;background-color:#66615B;height: 35px;font-size: 14px">
        Payment
        Approval
      </a>
    </div> -->




    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li *ngIf="showNotify">
          <a class="fa fa-bell" (click)="Notify()" style="position: relative;
          font-size: 1.5em;color: grey; cursor: pointer;padding-top: 10px;">
            <span class="fa fa-comment" *ngIf="ShowCount" style="position: absolute;font-size: 0.8em;
              top: -4px; color: red;right: -4px;padding-top: 5px;"></span>
            <span style=" position: absolute;font-weight: 700; font-size: 0.5em;top:
             1px;color: #fff;  right: 3px;padding-top: 3px;text-align: center;">{{count}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-rotate" href="javascript:void(0)">
            <h6 class="text-info">Welcome {{UserName}}
              <i class="nc-icon nc-button-power" (click)="Logout()"></i>
            </h6>
            &nbsp;&nbsp;

          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>