<div class="logo">
  <a href="" class="simple-text logo-mini">
    <div class="logo-image-small">
      <img src="../../assets/img/MAJESTIC_AUTO_SPA.jpeg" />
    </div>

  </a>

  <a href="#" class="simple-text logo-normal" style="font-size:12px">
    EXPRESS SHINE AUTOHUB
  </a>
</div>


<div class="sidebar-wrapper">

  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuitem of menuItems">
      <!--If is a single link-->
      <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link' && ShowMainMenu(menuitem.menuId)">
        <i class="{{menuitem.icontype}}"></i>
        <p>{{menuitem.title}}</p>
      </a>
      <!--If it have a submenu-->
      <a data-toggle="collapse" href="#{{menuitem.collapse}}"
        *ngIf="menuitem.type === 'sub' && ShowMainMenu(menuitem.menuId)">
        <!-- <a data-toggle="collapse" href="#{{menuitem.collapse}}"
        *ngIf="menuitem.type === 'sub' && ShowMainMenu(menuitem.menuId)"> -->
        <i class="{{menuitem.icontype}}"></i>
        <p>{{menuitem.title}}<b class="caret"></b></p>
      </a>

      <!--Display the submenu items-->
      <div id="{{menuitem.collapse}}" class="collapse">
        <!-- <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'"> -->
        <ul class="nav">
          <li routerLinkActive="active" *ngFor="let childitem of menuitem.children">
            <a [routerLink]="[menuitem.path, childitem.path]" *ngIf="ShowMainMenu(childitem.menuId)">
              <!-- <a [routerLink]="[menuitem.path, childitem.path]" *ngIf="ShowMainMenu(childitem.menuId)"> -->
              <span class="sidebar-mini-icon">{{childitem.ab}}</span>
              <span class="sidebar-normal">{{childitem.title}}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>

</div>