﻿<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/MAJESTIC_AUTO_SPA.jpeg">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/img/MAJESTIC_AUTO_SPA.jpeg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>MAJESTIC AUTO SPA</title>

    <base href="/">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!--     Fonts and icons     -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" /> -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> -->




    <link rel="stylesheet" href="styles.fb0a316a9624e3990856.css">
</head>

<body>
    <app-root>
        <div class="loader-container">
            <div class="loader"></div>
        </div>
    </app-root>
    <script src="runtime-es2015.19aac4abf44903b52f01.js" type="module"></script>
    <script src="runtime-es5.19aac4abf44903b52f01.js" nomodule defer></script>
    <script src="polyfills-es5.4167fc55cc53ae6dc1de.js" nomodule defer></script>
    <script src="polyfills-es2015.f7dc87e9454649dc901d.js" type="module"></script>
    <script src="scripts.0c7fbfc6ee6de03cb039.js" defer></script>
    <script src="main-es2015.28d708c4e8d89385f856.js" type="module"></script>
    <script src="main-es5.28d708c4e8d89385f856.js" nomodule defer></script>
</body>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

</html>