<div class="main-content scroll">
    <button class="btn btn-outline-danger btn-round btn-sm btn-magnify" routerLink="/master/view-user-master">
        <span class="btn-label">
            <i class="fa fas fa-chevron-left"></i>
        </span> &nbsp; Back
    </button>
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Create New User</h6>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="UserForm">
                <div class="row">
                    <div class="col-md-3">
                        <label class="text-info"> Employee Name <span class="text-danger"> *</span></label>
                        <ng-select autofocus [items]="EmployeeList" placeholder="--Select Employee--"
                            formControlName="employee" bindLabel="employeeName"
                            (change)="OnChange('EmployeeName')"></ng-select>
                        <small *ngIf="Submitted && UserForm.controls['employee'].invalid" class="text-danger">Employee
                            Name Required</small>
                        <small *ngIf="EmployeeNameExists" class="text-danger">Employee Name Already Exists</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> User Type<span class="text-danger"> *</span></label>
                        <select class="form-control" formControlName="userType">
                            <option value="" selected hidden>--Select--</option>
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                        </select>
                        <small *ngIf="Submitted && UserForm.controls['userType'].invalid" class="text-danger">Employee
                            Name Required</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> User Name <span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" placeholder="Enter User Name" formControlName="userName"
                            pattern=".*[^ ].*" (input)="OnChange('UserName')">
                        <small *ngIf="Submitted && UserForm.controls['userName'].invalid" class="text-danger">User Name
                            Required</small>
                        <small *ngIf="UserNameExists" class="text-danger">User Name Already Exists</small>

                    </div>
                    <div class="col-md-3">

                        <label class="text-info"> Password<span class="text-danger"> *</span></label>
                        <input type="Password" class="form-control" placeholder="Enter Password"
                            formControlName="password" pattern=".*[^ ].*">
                        <small *ngIf="Submitted && UserForm.controls['password'].invalid" class="text-danger">Password
                            Required</small>

                    </div>
                    <div class="col-md-3">
                        <label class="text-info">Confirm Password<span class="text-danger"> *</span></label>
                        <input type="Password" class="form-control" placeholder="Enter Confirm Password"
                            formControlName="confirmPassword" pattern=".*[^ ].*">
                        <small *ngIf="UserForm.controls['password'].value !=UserForm.controls['confirmPassword'].value"
                            class="text-danger">Password Mismatch</small>
                    </div>
                </div><br>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <label class="text-info"> Allocate Menu<span class="text-danger"> *</span></label>
                    <table class="table table-striped table-bordered table-sm ">
                        <thead style="background-color: rgb(204, 224, 224);text-align: center;">
                            <th scope="col">Particulars</th>
                            <th scope="col">Create & View</th>
                            <th scope="col">Edit & View</th>
                            <th scope="col">Delete & View</th>
                            <th scope="col">View</th>
                        </thead>
                        <tbody *ngFor="let value of MenuList;let i=index">
                            <ng-container>
                                <tr>
                                    <td style="text-align: center;" colspan="5">
                                        <b class="text-info">{{value.header}}</b> &nbsp;&nbsp;
                                        <input (change)="SelectAll($event,i)" type="checkbox" class="my-checkbox">
                                    </td>
                                </tr>
                                <tr *ngFor="let menu of value.groupItem">
                                    <th style="color: rgb(143, 62, 125);">{{menu.menuName}}
                                    </th>
                                    <td>
                                        <div *ngIf="((menu.subMenuIds).split(','))[0]!==''" class="text-center">
                                            <input
                                                [checked]="(this.SelectedMenus.indexOf((menu.subMenuIds).split(',')[0]) > -1)"
                                                (change)="OnMenuChecked($event,((menu.subMenuIds).split(','))[0])"
                                                type="checkbox" class="my-checkbox"
                                                [hidden]="value.header == 'REPORTS'">
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="((menu.subMenuIds).split(','))[1]!==''" class="text-center">
                                            <input
                                                [checked]="(this.SelectedMenus.indexOf((menu.subMenuIds).split(',')[1]) > -1)"
                                                (change)="OnMenuChecked($event,((menu.subMenuIds).split(','))[1])"
                                                type="checkbox" class="my-checkbox"
                                                [hidden]="value.header == 'REPORTS'">
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="((menu.subMenuIds).split(','))[2]!==''" class="text-center">
                                            <input
                                                [checked]="(this.SelectedMenus.indexOf((menu.subMenuIds).split(',')[2]) > -1)"
                                                (change)="OnMenuChecked($event,((menu.subMenuIds).split(','))[2])"
                                                type="checkbox" class="my-checkbox"
                                                [hidden]="value.header == 'REPORTS'">
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="((menu.subMenuIds).split(','))[3]!==''" class="text-center">

                                            <input
                                                [checked]="(this.SelectedMenus.indexOf((menu.subMenuIds).split(',')[3]) > -1)"
                                                (change)="OnMenuChecked($event,((menu.subMenuIds).split(','))[3])"
                                                type="checkbox" class="my-checkbox">

                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
        <div class="card-footer text-right">
            <button class="btn btn-outline-danger btn-round btn-sm btn-magnify" routerLink="/master/view-user-master">
                <span class="btn-label">
                    <i class="fa fas fa-chevron-left"></i>
                </span> &nbsp; Back
            </button> &nbsp;&nbsp; &nbsp;
            <button class="btn btn-outline-info btn-round btn-sm btn-magnify" (click)="Save()">
                <span class="btn-label">
                    <i class="nc-icon nc-check-2"></i>
                </span> &nbsp;
                {{UserId == 0 ? 'Save' : 'Update'}}
            </button>

        </div>
    </div>

</div>