<div class="main-content scroll">
    <button class="btn btn-outline-danger btn-round btn-sm btn-magnify" routerLink="/service/view-service">
        <span class="btn-label">
            <i class="fa fas fa-chevron-left"></i>
        </span> &nbsp; Back
    </button>
    <div class="card table-responsive">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">CREATE SERVICE / PRODUCT</h6>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="ServiceProductForm">
                <label>Select Type <span class="text-danger">*</span></label>
                <div class="col-md-10">
                    <div class="form-check">
                        &nbsp; <input type="radio" class="form-check-input" formControlName="Type"
                            value="ServiceAndProducts" name="Type" (change)="OnChangeSelectType()"> <label
                            style="color:rgb(139, 19, 139)">Service And Products</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" class="form-check-input" formControlName="Type" value="ProductsOnly"
                            name="Type" (change)="OnChangeSelectType()"><label style="color:rgb(139, 19, 139)">Products
                            Only</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3" *ngIf="ServiceProductId!=0">
                        <label>Service No</label>
                        <input type="text" disabled class="form-control" placeholder="Enter Service No"
                            formControlName="ServiceNo">
                    </div>

                    <div class="col-3">
                        <label>Date <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" formControlName="Date">
                        <small *ngIf="Submitted && ServiceProductForm.controls['Date'].invalid" class="text-danger">Date
                            Required</small>
                    </div>
                    <div class="col-4">
                        <label>Customer Mobile No <span class="text-danger">*</span></label>
                        <input type="number" onKeyPress="if(this.value.length==10) return false;" class="form-control"
                            placeholder="Enter Mobile Number" formControlName="MobileNo" pattern="[0-9]{10}"
                            (input)="OnChangeMobilNo()">
                        <small *ngIf="Submitted && ServiceProductForm.controls['MobileNo'].invalid"
                            class="text-danger">Mobile No Required (must 10 Digit)</small>
                    </div>
                    <div class="col-4">
                        <span *ngIf="ServiceProductId!=0"><br></span>
                        <label>Customer <span class="text-danger">*</span></label>
                        <ng-select [items]="CustomerList" bindLabel="customerName" placeholder="--Select Customer--"
                            formControlName="Customer" (change)="OnChangeCustomer()">
                        </ng-select>
                        <small *ngIf="Submitted && ServiceProductForm.controls['Customer'].invalid"
                            class="text-danger">Customer Required</small>
                    </div>
                    <div class="col-1">
                        <span *ngIf="ServiceProductId!=0"><br></span>
                        <br>
                        <i class="fa fas fa-plus-circle icon1 text-info btn-magnify"
                            routerLink="/customer/create-customer-master"
                            [queryParams]="{'Type':ServiceProductForm.controls['Type'].value}"
                            title="Create New Customer"></i>
                    </div>
                    <div class="col-3" [hidden]="Hidden">
                        <br>
                        <label>Vehicle Reg No <span class="text-danger">*</span></label>
                        <ng-select [items]="VehicleRegNoLstList" bindLabel="vehicleNo"
                            placeholder="--Select Vehicle Reg No--" formControlName="VehicleRegNo"
                            (change)="OnChangeVehicleTagNo()" (blur)="OnBlueVehicleTagNo()">
                        </ng-select>
                        <small *ngIf="Submitted && ServiceProductForm.controls['VehicleRegNo'].invalid"
                            class="text-danger">Vehicle Reg No Required</small>

                    </div>
                    <div class="col-3" [hidden]="Hidden">
                        <br>
                        <label>Make</label>
                        <input type="text" disabled class="form-control" formControlName="Make">
                    </div>
                    <div class="col-3" [hidden]="Hidden"> <br>
                        <label>Model</label>
                        <input type="text" disabled class="form-control" formControlName="Model">
                    </div>
                    <div class="col-3"> <br>
                        <label>Delivery Date & Time <span class="text-danger">*</span> </label>
                        <input type="datetime-local" class="form-control" formControlName="DeliveryDateTime">
                        <small *ngIf="Submitted && ServiceProductForm.controls['DeliveryDateTime'].invalid"
                            class="text-danger">Delivery Date Time Required</small>
                    </div>
                </div><br><br>
            </form>
            <b *ngIf="IsEligible" style="color: rgb(143, 72, 133);">
                <p class="blink_me">{{Content}}.</p>
            </b>
            <div class="row">

                <div class="col-12">
                    <!-- style="max-height:600px; overflow-x: auto; overflow-y: auto;" -->
                    <table class="table table-striped table-sm">
                        <thead style="background-color: rgb(204, 224, 224);">
                            <tr>
                                <th class=" text-center">S.No</th>
                                <th class="width85">Type</th>
                                <th class="width190">Service&nbsp;/ &nbsp;Product Type <span
                                        class="text-danger">*</span></th>
                                <th class="width85">Price <span class="text-danger"> *</span></th>
                                <th class="width55">Qty <span class="text-danger"> *</span></th>
                                <th class="width55">Amount <span class="text-danger"> *</span></th>
                                <th class="width85">Discount Amt</th>
                                <th class="width130">GST <span class="text-danger"> *</span></th>
                                <th class="width55">Taxable Amt </th>
                                <th class="width85">Total </th>
                                <th class="width85">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let col of ServiceProductSub; let i=index;">
                                <td class="text-center">{{i+1}}</td>
                                <td class="width85">&nbsp;&nbsp;&nbsp;
                                    <input [disabled]="Hidden"
                                        class="form-check-input" [name]="'type-' + i" type="radio" value="Service"
                                        [(ngModel)]="col.type" (change)="OnChangeType(i)">
                                    <label class="form-check-label">
                                        Service
                                    </label> <br> &nbsp;&nbsp;&nbsp;
                                    <input class="form-check-input" [name]="'type-' + i" type="radio" value="Product"
                                        [(ngModel)]="col.type" (change)="OnChangeType(i)">
                                    <label class="form-check-label">
                                        Product
                                    </label>
                                </td>
                                <td *ngIf="col.type=='Service'" class="width190">
                                    <ng-select [items]="ServiceList" placeholder="Select Service Type"
                                        bindLabel="serviceType" bindValue="serviceId" [(ngModel)]="col.typeId"
                                        (change)="OnChangeServiceProduct(i,$event,'Service')">
                                    </ng-select>
                                </td>
                                <td *ngIf="col.type=='Product'" class="width190">
                                    <ng-select [items]="ProductList" placeholder="Select Product Type"
                                        bindLabel="productName" bindValue="productId" [(ngModel)]="col.typeId"
                                        (change)="OnChangeServiceProduct(i,$event,'Product')">
                                    </ng-select>
                                </td>
                                <td class="width85"><input type="number" class="form-control" [(ngModel)]="col.price"
                                        (input)="OnChangePrice(i)"></td>
                                <td class="width55"><input type="number"
                                        [disabled]="ServiceProductSub[i].type == 'Service'? true: false"
                                        class="form-control" (input)="OnChangePrice(i)" [(ngModel)]="col.qty"></td>
                                <td class="width55"><input type="number" [disabled]="true" class="form-control"
                                        [(ngModel)]="col.amount"></td>
                                <td class="width85"><input type="number"
                                        [disabled]="(IsEligible || (ServiceProductId != 0 && (col.freeCarWash || col.freeBikeWash)))"
                                        class="form-control" [(ngModel)]="col.discount" (input)="OnChangePrice(i)"></td>
                                <td class="width130">
                                    <bSwitch [switch-on-color]=" 'danger'" [(ngModel)]="col.isAvailGst"
                                        (changeState)="OnChangeIsAvilGst(i)" [switch-off-color]=" 'danger'"
                                        [switch-off-text]=" 'No'" [switch-on-text]=" 'Yes'">
                                    </bSwitch> <br>
                                    <span *ngIf="col.isAvailGst">
                                        <ng-select [items]="GstList" bindLabel="gstName" bindValue="gstId"
                                            placeholder="Select GST" [(ngModel)]="col.gstId"
                                            (change)="OnChangeGst(i,$event)">
                                        </ng-select>
                                    </span>
                                </td>
                                <td class="width55"><input disabled type="number" class="form-control"
                                        [(ngModel)]="col.taxableAmt"></td>
                                <td class="width85"><input disabled type="number" class="form-control"
                                        [(ngModel)]="col.total"></td>
                                <td class="width55">
                                    <i class="fa fa-plus  text-info icon btn-magnify"
                                        *ngIf="i === ServiceProductSub.length - 1" (click)=" AddRow(i+1)"></i>
                                    &nbsp;&nbsp;
                                    <i class="fa fa-trash text-danger icon btn-magnify"
                                        *ngIf="ServiceProductSub.length > 1" (click)="RemoveRow(i)"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="color:rgb(139, 19, 139)">
                                <th colspan="3" class="text-right">Total</th>
                                <th class="text-right">{{SumOfPrice}}</th>
                                <th class="text-right">{{SumOfQty}}</th>
                                <th class="text-right">{{SumOfAmt}}</th>
                                <th class="text-right">{{SumOfDiscount}}</th>
                                <th></th>
                                <th class="text-right">{{SumOfTaxableAmt}}</th>
                                <th class="text-right">{{SumOfTotal}}</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    <hr>
                </div>
            </div>
            <form [formGroup]="ServiceProductForm">
                <div class="row">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-6">
                                <label>Service Done By<span class="text-danger" *ngIf="!IsDisableServiceDoneBy">
                                        *</span></label>
                                <ng-multiselect-dropdown [disabled]="IsDisableServiceDoneBy"
                                    [settings]="dropdownSettings" [data]="EmployeeList" [(ngModel)]="ServiceDoneByList"
                                    [ngModelOptions]="{standalone: true}">
                                </ng-multiselect-dropdown>
                                <small *ngIf="Submitted && ServiceDoneByList.length==0 && (!IsDisableServiceDoneBy)"
                                    class="text-danger">Service Done
                                    By
                                    Required
                                </small>
                            </div>
                            <div class="col-6">
                                <label>Sales Done By<span class="text-danger" *ngIf="!IsDisableSalesDoneBy">
                                        *</span></label>
                                <ng-multiselect-dropdown [disabled]="IsDisableSalesDoneBy" [settings]="dropdownSettings"
                                    [data]="EmployeeList" [(ngModel)]="SalesDoneByList"
                                    [ngModelOptions]="{standalone: true}">
                                </ng-multiselect-dropdown>
                                <small *ngIf="Submitted && SalesDoneByList.length==0 && (!IsDisableSalesDoneBy)"
                                    class="text-danger">Sales Done By
                                    Required
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label>Total Amt</label>
                        <input type="number" disabled class="form-control" formControlName="OverAllTotal">
                        <br>
                        <label>Discount From Total</label>
                        <input type="number" class="form-control" formControlName="DiscountFromTotal"
                            (input)="OnChangeDiscountFromTotal()"> <br>
                        <label>Final Invoice Amount</label>
                        <input type="number" disabled class="form-control" formControlName="FinalInvAmt">
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-outline-danger btn-round btn-sm btn-magnify" routerLink="/service/view-service">
                <span class="btn-label">
                    <i class="fa fas fa-chevron-left"></i>
                </span> &nbsp; Back
            </button> &nbsp;&nbsp; &nbsp;
            <button class="btn btn-outline-info btn-round btn-sm btn-magnify" (click)="Save('Save')">
                <span class="btn-label">
                    <i class="nc-icon nc-check-2"></i>
                </span> &nbsp;
                {{ServiceProductId == 0 ? 'Save':'Update'}}
            </button> &nbsp;&nbsp; &nbsp;
            <button class="btn btn-outline-success btn-round btn-sm btn-magnify" (click)="Save('Print')">
                <span class="btn-label">
                    <i class="nc-icon nc-check-2"></i>
                </span> &nbsp;
                {{ServiceProductId == 0 ? 'Save':'Update'}} & Print
            </button>
        </div>
    </div>
</div>