.icon1 {
    font-size: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.width85 {
    min-width: 85px;
}

.width55 {
    min-width: 55px;
}

.width190 {
    min-width: 190px;
}

.width130 {
    min-width: 130px;
}

.width100 {
    min-width: 100px;
}

table thead th,
table tfoot th {
    font-weight: 600;
    font-size: 13px;
}

table tbody td,
table tfoot td {
    font-size: 13px;
}

input[type=Number]::-webkit-inner-spin-button,
input[type=Number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=Number] {
    -moz-appearance: textfield;
}

.blink_me {
    animation: blinker 1s linear infinite;
    font-weight: bold;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.scroll {
    height: 300px;
    /* Adjust the height as needed */
    overflow-y: scroll;
}
/* 
.ng-select {
    font-size: 0.8em!important;
} */