<div class="main-content scroll">
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">GST Master</h6>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-outline-success btn-magnify btn-round pull-right btn-sm" data-toggle="modal"
                data-target="#AddGSTModal" *ngIf="menuList.includes('5')" (click)="AddNew('',0)">
                <i class="fa fa-plus"></i>
                Add New
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable *ngIf="Visible">
                    <thead class="text-info">
                        <tr>
                            <th>S.No</th>
                            <th>GST Name</th>
                            <th>GST Value</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of GSTList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{u.gstName}}</td>
                            <td>{{u.gstValue}}</td>
                            <td>
                                <i class="fa fa-edit text-info icon btn-magnify" data-toggle="modal"
                                    data-target="#AddGSTModal" *ngIf="menuList.includes('6')" (click)="AddNew('Edit',u.gstId)"></i> &nbsp;&nbsp;
                                <i class="fa fa-trash text-danger icon btn-magnify" data-toggle="modal"
                                    data-target="#InActiveGstModal" *ngIf="menuList.includes('7')" (click)="AddNew('Delete',u.gstId)"></i> &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>


<div class="col-md-3">
    <div class="modal" id="AddGSTModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" id="closeAddGSTModal" data-dismiss="modal" aria-label="Close">
                        <span area-hidden="true">&times;</span>
                    </button>
                    <h6 class="model-tittle text-info">Add GST</h6>
                </div>
                <div class="modal-body">
                    <form [formGroup]="GSTForm">
                        <div class="row">
                            <h6 class="text-info"> GST Name <span class="text-danger"> *</span></h6>
                            <input type="text" id="add" class="form-control" formControlName="gstName"
                                placeholder="Enter GST Name" pattern=".*[^ ].*" (input)="OnChangeGST('GSTName')">
                            <small *ngIf="Submitted && GSTForm.controls['gstName'].invalid" class="text-danger">GST Name
                                Required</small>
                            <small *ngIf="GSTNameExists" class="text-danger">GST Name Already Exists</small>
                        </div><br>
                        <div class="row">
                            <h6 class="text-info"> GST Value <span class="text-danger"> *</span></h6>
                            <input type="number" class="form-control" formControlName="gstValue"
                                placeholder="Enter GST Value" (input)="OnChangeGST('GSTValue')">
                            <small *ngIf="Submitted && GSTForm.controls['gstValue'].invalid" class="text-danger">GST
                                Value Required</small>
                            <small *ngIf="GSTValueExists" class="text-danger">GST Value Already Exists</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-round btn-outline-info btn-sm btn-magnify" (click)="Save()">
                        <span class="btn-h6">
                            <i class="nc-icon nc-check-2"></i>
                            {{GstId==0 ? 'Save':'Update'}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="modal" id="InActiveGstModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="closeInActiveGstModal" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h6 class="modal-title" id="exampleModalLabel" class="text-info">Delete GST</h6>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-12">
                            <label class="text-info">Remarks<span class="text-danger"> *</span></label>
                            <div class="form-group">
                                <textarea id="delete" class="form-control" [(ngModel)]="Remarks"
                                    pattern=".*[^ ].*"></textarea>
                                <small *ngIf="Submitted && (Remarks=='' || Remarks.trim() == '')" class="text-danger">Remarks is Required</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-round btn-outline-danger btn-sm btn-magnify" (click)="Delete()">
                        <span class="btn-h6">
                            Delete
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>