<div class="main-content scroll">
    <button class="btn btn-outline-danger btn-round btn-sm btn-magnify" routerLink="/master/view-company-master">
        <span class="btn-label">
            <i class="fa fas fa-chevron-left"></i>
        </span> &nbsp; Back
    </button>
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Create New Company</h6>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="CompanyForm">
                <div class="row">
                    <div class="col-md-3">
                        <label class="text-info"> Company Name <span class="text-danger"> *</span></label>
                        <input type="text" id="add" class="form-control" placeholder="Enter Company Name"
                            formControlName="companyName" pattern=".*[^ ].*" (input)="OnChangeCompanyName()">
                        <small *ngIf="Submitted && CompanyForm.controls['companyName'].invalid"
                            class="text-danger">Company Name is Required</small>
                        <small *ngIf="CompanyNameExists" class="text-danger">Company Name Already Exists</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> State<span class="text-danger"> *</span></label>
                        <ng-select [items]="StateList" placeholder="--Select State--" bindLabel="state"
                            bindValue="stateId" formControlName="state" (change)="OnChangeState()"></ng-select>
                        <small *ngIf="Submitted && CompanyForm.controls['state'].invalid" class="text-danger">State is
                            Required</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> City<span class="text-danger"> *</span></label>
                        <ng-select [items]="CityList" placeholder="--Select City--" bindLabel="city" bindValue="cityId"
                            formControlName="city"></ng-select>
                        <small *ngIf="Submitted && CompanyForm.controls['city'].invalid" class="text-danger">City Name
                            is Required</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> Pincode<span class="text-danger"> *</span></label>
                        <input type="number" placeholder="Enter Pincode" class="form-control" formControlName="pincode"
                            onKeyPress="if(this.value.length==6) return false;" pattern="[0-9]{6}">
                        <small *ngIf="Submitted && CompanyForm.controls['pincode'].invalid" class="text-danger">Pincode
                            is Required</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> Address 1<span class="text-danger"> *</span></label>
                        <textarea type="text" class="form-control" placeholder="Enter Address 1"
                            formControlName="address1"></textarea>
                        <small *ngIf="Submitted && CompanyForm.controls['address1'].invalid" class="text-danger">Address
                            is Required</small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> Address 2</label>
                        <textarea type="text" class="form-control" placeholder="Enter Address 2"
                            formControlName="address2"></textarea>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> Mobile No<span class="text-danger"> *</span></label>
                        <input type="number" class="form-control" formControlName="phoneNo"
                            placeholder="Enter Mobile NUmber" onKeyPress="if(this.value.length==10) return false;"
                            pattern="[0-9]{10}">
                        <small *ngIf="Submitted && CompanyForm.controls['phoneNo'].invalid" class="text-danger">Phone No
                            is Required (10 Digit)</small>
                    </div>
                    <div class="col-md-3">
                        <label>Email <span class="text-danger"> *</span></label>
                        <input type="email" class="form-control" placeholder="john@joe.com" formControlName="email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <small *ngIf="Submitted &&CompanyForm.controls['email'].invalid" class="text-danger">
                            Email is required and format should be <i>john@joe.com</i>
                        </small>
                    </div>
                    <div class="col-md-3">
                        <label class="text-info"> Website</label>
                        <input type="text" placeholder="Enter Website" class="form-control" formControlName="website">
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-outline-danger btn-round btn-sm btn-magnify"
                routerLink="/master/view-company-master">
                <span class="btn-label">
                    <i class="fa fas fa-chevron-left"></i>
                </span> &nbsp; Back
            </button> &nbsp;&nbsp; &nbsp;
            <button class="btn btn-outline-info btn-round btn-sm btn-magnify" (click)="Save()">
                <span class="btn-label">
                    <i class="nc-icon nc-check-2"></i>
                </span> &nbsp;
                {{CompanyId == 0 ? 'Save' : 'Update'}}
            </button>

        </div>
    </div>

</div>