<div class="main-content scroll">
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">Employee Master</h6>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-outline-success btn-magnify btn-round pull-right btn-sm" data-toggle="modal"
                data-target="#AddEmployeeModal" *ngIf="menuList.includes('13')" (click)="AddNew('',0)">
                <i class="fa fa-plus"></i>
                Add New
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable *ngIf="Visible">
                    <thead class="text-info">
                        <tr>
                            <th>S.No</th>
                            <th>Employee Code</th>
                            <th>Employee Name</th>
                            <th>Address</th>
                            <th>Mobile Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of EmployeeList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{u.employeeCode}}</td>
                            <td>{{u.employeeName}}</td>
                            <td>{{u.address}}</td>
                            <td>{{u.mobileNo}}</td>
                            <td>
                                <i class="fa fa-edit text-info icon btn-magnify" data-toggle="modal"
                                    data-target="#AddEmployeeModal" *ngIf="menuList.includes('14')"
                                    (click)="AddNew('Edit',u.employeeId)"></i>
                                &nbsp;&nbsp;
                                <i class="fa fa-trash text-danger icon btn-magnify" data-toggle="modal"
                                    data-target="#InActiveEmployeeModal" *ngIf="menuList.includes('15')"
                                    (click)="AddNew('Delete',u.employeeId)"></i>
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>


<div class="col-md-3">
    <div class="modal" id="AddEmployeeModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" id="closeAddEmployeeModal" data-dismiss="modal" aria-label="Close">
                        <span area-hidden="true">&times;</span>
                    </button>
                    <h6 class="model-tittle text-info">Add Employee</h6>
                </div>
                <div class="modal-body">
                    <form [formGroup]="EmployeeForm">
                        <div class="row">
                            <h6 class="text-info"> Employee Code <span class="text-danger"> *</span></h6>
                            <input type="text" id="add" class="form-control" formControlName="employeeCode"
                                placeholder="Enter Employee Code" pattern=".*[^ ].*"
                                (input)="OnChangeEmployee('EmployeeCode')">
                            <small *ngIf="Submitted && EmployeeForm.controls['employeeCode'].invalid"
                                class="text-danger">Employee Code Required</small>
                            <small *ngIf="EmployeeCodeExists" class="text-danger">Employee Code Already Exists</small>
                        </div><br>
                        <div class="row">
                            <h6 class="text-info"> Employee Name <span class="text-danger"> *</span></h6>
                            <input type="text" class="form-control" formControlName="employeeName"
                                placeholder="Enter Employee Name" pattern=".*[^ ].*"
                                (input)="OnChangeEmployee('EmployeeName')">
                            <small *ngIf="Submitted && EmployeeForm.controls['employeeName'].invalid"
                                class="text-danger">Employee Name Required</small>
                            <small *ngIf="EmployeeNameExists" class="text-danger">Employee Name Already Exists</small>
                        </div><br>
                        <div class="row">
                            <h6 class="text-info"> Address<span class="text-danger"> *</span></h6>
                            <textarea class="form-control" placeholder="Enter Address..." formControlName="address"
                                pattern=".*[^ ].*"></textarea>
                            <small *ngIf="Submitted && EmployeeForm.controls['address'].invalid"
                                class="text-danger">Address Required</small>
                        </div><br>
                        <div class="row">
                            <h6 class="text-info"> Mobile Number <span class="text-danger"> *</span></h6>
                            <input type="number" onKeyPress="if(this.value.length==10) return false;"
                                class="form-control" placeholder="Enter Mobile Number" formControlName="mobileNo"
                                pattern="[0-9]{10}">
                            <small *ngIf="Submitted && EmployeeForm.controls['mobileNo'].invalid"
                                class="text-danger">Mobile Number Required Must 10 Digit</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-round btn-outline-info btn-sm btn-magnify" (click)="Save()">
                        <span class="btn-h6">
                            <i class="nc-icon nc-check-2"></i>
                            {{EmployeeId == 0 ? 'Save':'Update'}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="InActiveEmployeeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeInActiveEmployeeModal" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="modal-title" id="exampleModalLabel" class="text-info">Delete Employee</h6>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <label class="text-info">Remarks<span class="text-danger"> *</span></label>
                        <div class="form-group">
                            <textarea id="delete" class="form-control" [(ngModel)]="Remarks"
                                pattern=".*[^ ].*"></textarea>
                            <small *ngIf="Submitted && (Remarks=='' || Remarks.trim()=='')" class="text-danger">Remarks
                                is Required</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-round btn-outline-danger btn-sm btn-magnify" (click)="Delete()">
                    <span class="btn-h6">
                        Delete
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>