<div class="main-content scroll">
    <div class="card">
        <div class="card">
            <div class="card-header bg-secondary">
                <h6 style="color: white;">User Master</h6>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-outline-success btn-magnify btn-round pull-right btn-sm"
                *ngIf="menuList.includes('25')" routerLink="/master/create-user-master">
                <i class="fa fa-plus"></i>
                Add New
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" datatable *ngIf="Visible">
                    <thead class="text-info">
                        <tr>
                            <th>S.No</th>
                            <th>Employee Name</th>
                            <th>User Type</th>
                            <th>User Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of UserList;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{u.employeeName}}</td>
                            <td>{{u.userType}}</td>
                            <td>{{u.userName}}</td>
                            <td>
                                <i class="fa fa-edit text-info icon btn-magnify" *ngIf="menuList.includes('26')"
                                    routerLink="/master/create-user-master" [queryParams]="{UserId:u.userId}"></i>
                                &nbsp;&nbsp;
                                <i class="fa fa-trash text-danger icon btn-magnify" *ngIf="menuList.includes('27')"
                                    (click)="Delete(u.userId,'Assign')"></i> &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>


<div class="modal" id="InActiveUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="closeInActiveUserModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="modal-title" id="exampleModalLabel" class="text-info">Delete User</h6>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12"> 
                        <label class="text-info">Remarks<span class="text-danger"> *</span></label>
                        <div class="form-group">
                            <textarea id="delete" class="form-control" [(ngModel)]="Remarks"></textarea>
                            <small *ngIf="Submitted && (Remarks=='' || Remarks.trim()=='')" class="text-danger">Remarks
                                is Required</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-round btn-outline-danger btn-sm btn-magnify" (click)="Delete(0,'Delete')">
                    <span class="btn-h6">
                        Delete
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>